@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #202632;
}
/*Body*/

.header {
    position: fixed;
    top: 0;
    /* bottom: 0; */
    width: 100%;
    background-color: transparent;
    z-index: 1;
    transition: .4s;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(20px);
    width: 100%; */
}

.brand {
    display: inline-flex;
    align-items: center;
    color:  hsl(150, 100%, 66%);
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
}

.nav-items a{
    color:  hsl(150, 100%, 66%);
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
}

.menu-btn {
    display: none;
}

.welcome {
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

span {
    color: hsl(150, 99%, 55%);
    font-size: 3rem;
}

.medium-text {
    font-family: 'Manrope', sans-serif;
    color: white;
}

.medium-text a {
    text-decoration: none;
    color: hsl(150, 99%, 55%);
}

.status-text {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    color: hsl(150, 100%, 40%);
}

.status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.status-textbox {
    background-color: #313A49;
    border: 2px solid hsla(193, 23%, 72%, 0.806);
    max-width: 500px;
    padding: 30px;
    border-radius: 10px;

    width: 250px;
    height: 200px;
    margin: 15px;
    overflow: hidden;
    border-radius: 10px;
}

.status-textbox:hover {
    border: 2px solid hsl(150, 99%, 55%);
    transition: 0.3s;
}

.status {
    text-align: center;
}

/*Advice Container*/
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* position: relative; */
}

.container {
    background-color: #313A49;
    max-width: 300px;
    padding: 30px;
    border-radius: 10px;
}



.advice-num {
    color: hsl(150, 100%, 66%);
    font-family: 'Manrope', sans-serif;
}

.advice {
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    text-align: center;
}

.design {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.line {
    border-bottom: 1px solid hsl(193, 38%, 86%);
    width: 130px;
}

.quotation-like-design {
    width: 6px;
    height: 18px;
    border-radius: 5px;
    background-color: white;
}

.btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    border: 0;
    margin-bottom: -50px;
}

.random-button:hover {
    box-shadow: 0px 0px 30px 5px hsl(150, 100%, 66%);
    transition: 0.3s;
}

@media screen and (max-width:375px) {
    .container {
        max-width: 200px;
    }
}


@media screen and (max-width:912px) {
     .navigation {
        margin: 10px;
        justify-content: space-between;
    }

    .nav-items {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .menu-btn .menu-icon {
        background-position: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: 0.3s;
        background-color: hsl(150, 99%, 55%);
        border-radius: 5px;
    }

    .status-textbox {
        background-color: #313A49;
        max-width: 500px;
        padding: 30px;
        border-radius: 10px;
    
        width: 150px;
        height: 150px;
        margin: 15px;
        overflow: hidden;
        border-radius: 10px;
    }
    
}




.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}